<%- include('../partials/header') %>

<% activities.forEach((act) =>{%>
<div class="container">
  <div class="row" id="activity-container">
    <div class="col s12 l6">
      <div class="card blue-grey darken-4 hoverable">
        <div class="card-content white-text">
          <span class="card-title"><%=act.title%></span>
          <p><%=act.description%></p>
        </div>
        <div class="card-action">
          <a href="#">Show More</a>
        </div>
      </div>
    </div>
  </div>
</div>
<% });%>
<%- include('../partials/footer') %>
