<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <nav>
      <div class="nav-wrapper blue-grey darken-4">
        <a href="/activities" class="brand-logo orange-text text-accent-2">Activites`</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/activities">Tasks</a></li>
        <li><a href="/users">People</a></li>
      </ul>
      </div>
    </nav>
    <ul class="sidenav orange darken-1 blue-grey-text text-lighten-1" id="mobile-demo">
      <li><a href="/activities">Tasks</a></li>
      <li><a href="/activities/new">Add Task</a></li>
      <li><a href="/users">People</a></li>
      <li><a href="/users/new">Add People</a></li>
    </ul>
    <main></main>
  </body>
</html>
