<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!--Import materialize.css-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <nav>
      <div class="nav-wrapper blue-grey darken-4">
        <a href="#" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down ">
          <li><a href="/activities/new" class="yellow-text text-accent-4">ADD ACTIVITY</a></li>
          <li><a href="/user/new" class="yellow-text text-accent-4">ADD USER</a></li>
          <li><a href="/activities" class="yellow-text text-accent-4">ALL ACTIVITIES</a></li>
        </ul>
      </div>
    </nav>
    <main>
