<%- include('../partials/header') %>

<section class="section">
  <div class="container">
    <ul class="collection with-header">
      <li class="collection-header"><h4>People</h4></li>
    </ul>
  </div>
</section>
<a
  href="/users/new"
  class="btn-floating btn-large waves-effect waves-light orange right add-button"
  ><i class="material-icons">add</i></a
>
<%- include('../partials/footer') %>
